# NYC Airbnb Price Prediction - Data Cleanup

Use dataset published by Kaggle - https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data - to train a simple deep learning model to predict prices for Airbnb properties.


This notebook contains the data cleanup steps:
- load data from the input CSV or dataframe saved by the [data preparation notebook](https://github.com/ryanmark1867/end_to_end_deep_learning_liveproject/blob/master/notebooks/data_preparation.ipynb)
- fix missing values
- clean up anomalies

# Common imports and variables
Imports and variable definitions that are common to the entire notebook

In [1]:
!pip install requests
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import datetime as dt
# common imports
import zipfile
import time
# import datetime, timedelta
import datetime
from datetime import datetime, timedelta
from datetime import date
from dateutil import relativedelta
from io import StringIO
import pandas as pd
import pickle
from sklearn.base import BaseEstimator
from sklearn.base import TransformerMixin
from io import StringIO
import requests
import json
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline 
import os
import math
from subprocess import check_output
from IPython.display import display
import logging
import yaml
from collections import Counter
import re
import os
import numbers

In [3]:
def get_config(config_file):
    ''' open config file with name config_file that contains parameters
    for this module and return Python object

    Args:
        config_file: filename containing config parameters

    Returns:
        config: Python dictionary with config parms from config file - dictionary


    '''
    current_path = os.getcwd()
    path_to_yaml = os.path.join(current_path, config_file)
    print("path_to_yaml " + path_to_yaml)
    try:
        with open(path_to_yaml, 'r') as c_file:
            config = yaml.safe_load(c_file)
        return config
    except Exception as error:
        print('Error reading the config file ' + str(error))

In [4]:
def print_config_values(config):
    for val in config:
        print("config value ",val," ",str(config[val]))

In [5]:
def set_current_directory():
  ''' check to see if the notebook is being run in Colab, and if so, set the current directory appropriately'''
  if 'google.colab' in str(get_ipython()):
    from google.colab import drive
    drive.mount('/content/drive')
    %cd /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_basics/notebooks

# Load dataframe
- load pickled dataframe

In [6]:
def get_path():
    ''' get the path for data files

    Returns:
        path: path for data directory

    '''
    rawpath = os.getcwd()
    # data is in a directory called "data" that is a sibling to the directory
    # containing the notebook
    path = os.path.abspath(os.path.join(rawpath, '..', 'data'))
    return path

In [7]:
def ingest_data(path,input_csv,pickled_input_dataframe,save_raw_dataframe,load_from_scratch):
    ''' load data into dataframe
    Args:
        path: path containing input file
        input_csv: input file name
        pickled_input_dataframe: pickled version of input file

    Returns:
        path: path for data directory
    '''
    if load_from_scratch:
        unpickled_df = pd.read_csv(os.path.join(path,input_csv)) 
        if save_raw_dataframe:
            file_name = os.path.join(path,pickled_input_dataframe)
            print("file_name is ",file_name)
            unpickled_df.to_pickle(file_name)
    else:
        unpickled_df = pd.read_pickle(os.path.join(path,pickled_input_dataframe))
        logging.debug("reloader done")
    return(unpickled_df)

# General cleanup

In [8]:
def fill_missing(dataset,columns,defaults):
    ''' replace missing values with placeholders by column type
    
    Args:
        dataset: dataframe in which missing values being processed
        columns: dictionary of columns with keys that are column types and values that are the column names of that type
        defaults: dictionary of replacement values for missing values by column type

    Returns:
        dataset: dataframe with missing values replaced with default values

    '''
    logging.debug("before mv")
    for column_category in columns:
        print("column_category is "+str(column_category))
        for col in columns[column_category]:
            print("filling mising values in col "+str(col)+" with default "+str(defaults[column_category]))
            dataset[col].fillna(defaults[column_category],inplace = True)
            print("in mv Missing values in ",col," ",str(dataset[col].isna().sum()))
     
    return(dataset)

In [9]:
def not_in_list(x, list):
    ''' check if a value is in a list
    Args:
        x: value to check
        list: list in which to check for the value

    Returns:
        retur_val: 1 if value is in not in list, 0 otherwise
    '''
    if x in list:
        return_val = 0
    else:
        return_val = 1
    return(return_val)

In [10]:
def neg_val(x):
    ''' check if a value is in a list
    Args:
        x: value to check
    
    Returns:
        retur_val: 1 if value is negative, 0 otherwise
    '''
    if x >= 0:
        return_val = 0
    else:
        return_val = 1
    return(return_val)

In [11]:
def basic_assessment(df,columns,valid_values,non_neg_continuous):
    ''' assess the values in a dataframe
    Args:
        df: dataframe for assessment
        columns: dictionary of column names by category
        valid_values: dictionary of valid values for categorical columns with limited number of valid values
        non_neg_continuous: list of continuous columns with only non-negative values as valid
    '''
    for col in list(df):
        print("Missing values in ",col," ",str(df[col].isna().sum()))
        print("Distinct values in ",col," ",str(df[col].nunique()))
    # for categorical columns with a limited number of valid values, count the number of invalid values by column
    for col in valid_values:
        print("non-valid values in column ",col," ",str(df[col].apply(lambda x:not_in_list(x,valid_values[col])).sum()))
    # count non-numeric values in continuous columns
    for col in columns['continuous']:
        # mask = pd.to_numeric(df['Hours_Worked'], errors='coerce').isna()
        mask = pd.to_numeric(df[col], errors='coerce').isna()
        print("non-numeric values in continuous col ",col," ",str(mask.sum()))
        # if there are no non-numeric values in the column and it muast have non-negative values, count negative values
        if (mask.sum()==0) and (col in non_neg_continuous):
            print("negative values in colum ",col," ",str(df[col].apply(lambda x:neg_val(x)).sum()))

In [12]:
def out_of_range(x,max,min):
    ''' count whether a value is in a range
    Args:
        x: value to check in range
        max: top of the range to check
        min: bottom of the range to check
        
    Returns:
        ret_val: 1 if out of range, 0 otherwise
    '''
    if x > max or x < min:
        return_val = 1
    else:
        return_val = 0
    return(return_val)

In [13]:
def out_of_bounding_box(latitude,longitude,bounding_box):
    ''' count whether a location is within a bounding box
    Args:
        latitude: latitude portion of location
        longitude: longitude portion of location
        bounding_box: dictionary with max and min values to compare the location with
        min: bottom of the range to check
        
    Returns:
        ret_val: 1 if out of range, 0 otherwise
    '''    
    if ((latitude <= bounding_box['max_lat']) and (latitude >= bounding_box['min_lat'])) \
    and ((longitude <= bounding_box['max_long']) and (longitude >= bounding_box['min_long'])):
         ret_val = 0
    else:
         ret_val = 1
    return(ret_val)

In [14]:
def geo_assessment(df,bounding_box):
    ''' assess the geo columns in a dataframe by counting how many latitude and longitude values are outside the bounding box
    Args:
        df: dataframe for assessment
        bounding_box: dictionary of maximum and minimum valid latitude and longitude values
    ''' 
    # count the number of entries in the latitude column that are above or below a given amount
    # df['col_3'] = df.apply(lambda x: get_sublist(x.col_1, x.col_2), axis=1)
    print("latitude out of bounds count ",str(df['latitude'].apply(lambda x:out_of_range(x,bounding_box['max_lat'],bounding_box['min_lat'])).sum()))
    print("longitude out of bounds count ",str(df['longitude'].apply(lambda x:out_of_range(x,bounding_box['max_long'],bounding_box['min_long'])).sum()))
    print("location out of bounds count ",str(df.apply(lambda x: out_of_bounding_box(x.latitude,x.longitude,bounding_box), axis=1).sum()))

In [15]:
def replace_invalid_values(df,columns,valid_values,invalid_value_replacements,non_neg_continuous):
    ''' replace invalid with placeholders
    Args:
        df: dataframe for assessment
        columns: dictionary of column names by category
        valid_values: dictionary of valid values for categorical columns with limited number of valid values
        invalid_value_replacements: dictionary of replacement values by column category
        non_neg_continuous: list of continuous columns with only non-negative values as valid
    Returns:
        df: updated dataframe
    '''
    # for categorical columns with a limited number of valid values, replace invalid values with placeholder
    for col in valid_values:
        print("non-valid values in column ",col," ",str(df[col].apply(lambda x:not_in_list(x,valid_values[col])).sum()))
        df[col] = df[col].apply(lambda x:replace_if_not_in_list(x,invalid_value_replacements['categorical'],valid_values[col]))
    # for continuous columns, replace non-numeric values and, where not valid, negative values
    for col in columns['continuous']:
        # replace non-numeric values
        df[col] = df[col].apply(lambda x:replace_if_non_numeric(x,invalid_value_replacements['continuous']))
        # for continuous columns where valid values must be non-negative, replace negative values
        if col in non_neg_continuous:
            df[col] = df[col].apply(lambda x:replace_if_neg(x,invalid_value_replacements['continuous'])) 
    return(df)

In [16]:
def replace_if_non_numeric(x, replace_x):
    ''' check if a value is non-numeric and replace if so
    Args:
        x: value to check
    
    Returns:
        retur_val: 1 if value is negative, 0 otherwise
    '''
    if isinstance(x, numbers.Number):
        return_val = x
    else:
        return_val = replace_x
    return(return_val)

In [17]:
def replace_if_not_in_list(x, replace_x, list):
    ''' check if a value is in a list
    Args:
        x: value to check
        list: list in which to check for the value

    Returns:
        retur_val: 1 if value is in not in list, 0 otherwise
    '''
    if x in list:
        return_val = x
    else:
        return_val = replace_x
    return(return_val)

In [18]:
def replace_if_neg(x, replace_x):
    ''' check if a value is negative and replace if so
    Args:
        x: value to check
    
    Returns:
        retur_val: 1 if value is negative, 0 otherwise
    '''
    if x >= 0:
        return_val = x
    else:
        return_val = replace_x
    return(return_val)

In [19]:
def geo_replacement(df,replace_lat, replace_long, bounding_box):
    ''' assess the geo columns in a dataframe by counting how many latitude and longitude values are outside the bounding box
    Args:
        df: dataframe for assessment
        replace_lat: replacement for latitude if out of bounds
        replace_long: replacement for longitude if out of bounds
        bounding_box: dictionary of maximum and minimum valid latitude and longitude values
    Returns:
        df: updated dataframe
    ''' 
    # df['latitude','longitude'] = df['latitude','longitude'].apply(lambda x,y:replace_if_outside_bounding_box(x,y,replace_lat,replace_long,bounding_box))
    df['latitude','longitude'] = df.apply(lambda x:replace_if_outside_bounding_box(x.latitude,x.longitude,replace_lat,replace_long,bounding_box),axis=1)
    return(df)

In [20]:
def replace_if_outside_bounding_box(latitude,longitude, replace_lat, replace_long, bounding_box):
    ''' count whether a location is within a bounding box
    Args:
        latitude: latitude portion of location
        longitude: longitude portion of location
        replace_lat: replacement value for latitude
        replace_long: replacement value for longitude
        bounding_box: dictionary with max and min values to compare the location with
               
    Returns:
        latitude, longitude: 1 if out of range, 0 otherwise
    '''    
    if ((latitude > bounding_box['max_lat']) or (latitude < bounding_box['min_lat'])) \
    or ((longitude > bounding_box['max_long']) or (longitude < bounding_box['min_long'])):
        # replace both lat and long if either is outside of bounding box
        latitude = replace_lat
        longitude = replace_long  
        
            
    return(latitude, longitude)

In [21]:
def replace_time(date_time_value,time_value):
    ''' given a datetime replace the time portion '''
     
    date_time_value = date_time_value.replace(hour=time_value.hour,minute=time_value.minute,second=time_value.minute)
    return(date_time_value)

# Master cell
This cell contains calls to the other functions in this notebook to complete the data cleanup

In [22]:
# master cell to call the other functions
# get the path for data files
set_current_directory()
path = get_path()
print("path is ",path)
config = get_config('data_preparation_config.yml')
print("past config definition")
logging.getLogger().setLevel(logging.WARNING)
logging.warning("logging check")
print_config_values(config)
# load dataframe
df = ingest_data(path,config['file_names']['input_csv'],config['file_names']['pickled_input_dataframe'],config['general']['save_raw_dataframe'],config['general']['load_from_scratch'])
print("columns is "+str(config['columns']))
print("category_defaults is "+str(config['category_defaults']))
# fill missing values according to the defaults per column
df = fill_missing(df,config['columns'],config['category_defaults'])
# get assessment results after filling missing values
basic_assessment(df,config['columns'],config['valid_values'],config['non_negative_continuous'])
# df = replace_invalid_values(df,columns,valid_values,invalid_value_replacements,non_neg_continuous)
df = replace_invalid_values(df,config['columns'],config['valid_values'],config['category_invalid_value_replacements'],config['non_negative_continuous'])
df = geo_replacement(df,config['latitude_replacement'],config['longitude_replacement'], config['bounding_box'])
geo_assessment(df,config['bounding_box'])
if config['general']['save_transformed_dataframe']:
    print("path is ",path)
    file_name = os.path.join(path,config['file_names']['pickled_output_dataframe'])
    print("file_name is ",file_name)
    df.to_pickle(file_name)
df.head()

Mounted at /content/drive
/content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_basics/notebooks
path is  /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_basics/data
path_to_yaml /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_basics/notebooks/data_preparation_config.yml

WARNING:root:logging check

past config definition
config value  general   {'load_from_scratch': True, 'save_raw_dataframe': False, 'save_transformed_dataframe': True, 'remove_bad_values': True}
config value  columns   {'categorical': ['neighbourhood_group', 'neighbourhood', 'room_type'], 'continuous': ['minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'latitude', 'longitude'], 'date': ['last_review'], 'text': ['name', 'host_name'], 'excluded': ['price', 'id']}
config value  category_defaults   {'categorical': 'missing', 'continuous': 0.0, 'text': 'missing', 'date': datetime.date(2019, 1, 1), 'excluded': 'missing'}
config value  category_invalid_value_replacements   {'categorical': 'bad_categorical', 'continuous': 'bad_continuous', 'text': 'bad_text', 'date': 'bad_date', 'exclude': 'bad_excluded'}
config value  latitude_replacement   bad_latitude
config value  longitude_replacement   bad_longitude
config value  non_negative_continuous   ['minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count']
config value  valid_values   {'neighbourhood_group': ['Bronx', 'Brooklyn', 'Queens', 'Manhattan', 'Staten Island'], 'room_type': ['Private room', 'Shared room', 'Entire home/apt']}
config value  bounding_box   {'max_long': -73.70018092, 'max_lat': 40.91617849, 'min_long': -74.25909008, 'min_lat': 40.47739894}
config value  newark_bounding_box   {'max_long': -74.11278706, 'max_lat': 40.67325015, 'min_long': -74.25132408, 'min_lat': 40.78813864}
config value  geo_columns   ['latitude', 'longitude']
config value  file_names   {'input_csv': 'AB_NYC_2019.csv', 'pickled_input_dataframe': 'AB_NYC_2019_input_sep3_2022.pkl', 'pickled_output_dataframe': 'AB_NYC_2019_output_sep3_2022.pkl'}
columns is {'categorical': ['neighbourhood_group', 'neighbourhood', 'room_type'], 'continuous': ['minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'latitude', 'longitude'], 'date': ['last_review'], 'text': ['name', 'host_name'], 'excluded': ['price', 'id']}
category_defaults is {'categorical': 'missing', 'continuous': 0.0, 'text': 'missing', 'date': datetime.date(2019, 1, 1), 'excluded': 'missing'}
column_category is categorical
filling mising values in col neighbourhood_group with default missing
in mv Missing values in  neighbourhood_group   0
filling mising values in col neighbourhood with default missing
in mv Missing values in  neighbourhood   0
filling mising values in col room_type with default missing
in mv Missing values in  room_type   0
column_category is continuous
filling mising values in col minimum_nights with default 0.0
in mv Missing values in  minimum_nights   0
filling mising values in col number_of_reviews with default 0.0
in mv Missing values in  number_of_reviews   0
filling mising values in col reviews_per_month with default 0.0
in mv Missing values in  reviews_per_month   0
filling mising values in col calculated_host_listings_count with default 0.0
in mv Missing values in  calculated_host_listings_count   0
filling mising values in col latitude with default 0.0
in mv Missing values in  latitude   0
filling mising values in col longitude with default 0.0
in mv Missing values in  longitude   0
column_category is date
filling mising values in col last_review with default 2019-01-01
in mv Missing values in  last_review   0
column_category is text
filling mising values in col name with default missing
in mv Missing values in  name   0
filling mising values in col host_name with default missing
in mv Missing values in  host_name   0
column_category is excluded
filling mising values in col price with default missing
in mv Missing values in  price   0
filling mising values in col id with default missing
in mv Missing values in  id   0
Missing values in  id   0
Distinct values in  id   48895
Missing values in  name   0
Distinct values in  name   47906
Missing values in  host_id   0
Distinct values in  host_id   37457
Missing values in  host_name   0
Distinct values in  host_name   11453
Missing values in  neighbourhood_group   0
Distinct values in  neighbourhood_group   5
Missing values in  neighbourhood   0
Distinct values in  neighbourhood   221
Missing values in  latitude   0
Distinct values in  latitude   19048
Missing values in  longitude   0
Distinct values in  longitude   14718
Missing values in  room_type   0
Distinct values in  room_type   3
Missing values in  price   0
Distinct values in  price   674
Missing values in  minimum_nights   0
Distinct values in  minimum_nights   109
Missing values in  number_of_reviews   0
Distinct values in  number_of_reviews   394
Missing values in  last_review   0
Distinct values in  last_review   1765
Missing values in  reviews_per_month   0
Distinct values in  reviews_per_month   938
Missing values in  calculated_host_listings_count   0
Distinct values in  calculated_host_listings_count   47
Missing values in  availability_365   0
Distinct values in  availability_365   366
non-valid values in column  neighbourhood_group   0
non-valid values in column  room_type   0
non-numeric values in continuous col  minimum_nights   0
negative values in colum  minimum_nights   0
non-numeric values in continuous col  number_of_reviews   0
negative values in colum  number_of_reviews   0
non-numeric values in continuous col  reviews_per_month   0
negative values in colum  reviews_per_month   0
non-numeric values in continuous col  calculated_host_listings_count   0
negative values in colum  calculated_host_listings_count   0
non-numeric values in continuous col  latitude   0
non-numeric values in continuous col  longitude   0
non-valid values in column  neighbourhood_group   0
non-valid values in column  room_type   0
latitude out of bounds count  0
longitude out of bounds count  0
location out of bounds count  0
path is  /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_basics/data
file_name is  /content/drive/MyDrive/machine_learning_tabular_book/code/deep_learning_basics/data/AB_NYC_2019_output_sep3_2022.pkl

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,"(latitude, longitude)"
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,"(40.64749, -73.97237)"
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,"(40.75362, -73.98377)"
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-01-01,0.00,1,365,"(40.80902, -73.9419)"
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,"(40.68514, -73.95976)"
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,"(40.79851, -73.94399)"